<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('partials/style'); %>
</head>
<body>
    <%- include('partials/navbarin'); %>

    <div class="container">
        <% if (transaction) { %>
            <p style="color: red; text-align: center;"><%= transaction %></p>
        <% } %>

        <h1><%= greeting %> </h1>

        <table class="border-gray">
            <thead>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>BALANCE</th>
            </thead>
            <tbody>
                    <tr>
                        <td><%= data.name %></td>
                        <td><%= data.email %></td>
                        <td><%= addSymbol(data.balance, "IDR") %></td>
                    </tr>
            </tbody>
        </table>
    
        <h2>Inventory</h2>
        <table class="border-gray">
            <thead>
                <th>USD</th>
                <th>GBP</th>
                <th>EURO</th>
                <th>YEN</th>
                <th>SGD</th>
                <th>CNY</th>
                <th>AUD</th>
                <th>CAD</th>
                <th>CHF</th>
                <th>HKD</th>
            </thead>
            <tbody>
                    <tr>
                        <td><%= addSymbol(data.Inventory.usDollar, "USD") %></td>
                        <td><%= addSymbol(data.Inventory.britishPoundSterling,"GBP") %></td>
                        <td><%= addSymbol(data.Inventory.euro,"EUR") %></td>
                        <td><%= addSymbol(data.Inventory.japaneseYen, "JPY") %></td>
                        <td><%= addSymbol(data.Inventory.singaporeDollar, "SGD") %></td>
                        <td><%= addSymbol(data.Inventory.chinaRenminbi, "CNY") %></td>
                        <td><%= addSymbol(data.Inventory.australianDollar, "AUD") %></td>
                        <td><%= addSymbol(data.Inventory.canadianDollar, "CAD") %></td>
                        <td><%= addSymbol(data.Inventory.swissFranc, "CHF") %></td>
                        <td><%= addSymbol(data.Inventory.hongkongDollar, "HKD") %></td>
                    </tr>
            </tbody>
        </table>


        <h2>Transactions</h2>
        <table class="border-gray">
            <thead>
            </thead>
            <tbody>
                <% data.Transactions.forEach(el => { %>
                    <tr>
                        <td><%= el.transactionType %></td>
                        <td><%= el.transactionAmount %></td>
                        <td><%= el.createdAt %></td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        


    </div>
    
    <% if (adminAccess === true) { %>
        <%- include('partials/footerin'); %>

           <% }else { %>

                <%- include('partials/footer'); %>
           <% } %></body>
</html>