<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, <%=data.name%></h1>
    <!-- 
        {
  "id": 16,
  "email": "1@mail.com",
  "password": "$2b$12$VU1lmIDk.MtfplS6MylVeOmTKuZUc1rahhj8UyrRLd2H1WwMQ48Pi",
  "name": "1",
  "role": true,
  "balance": 1000000,
  "createdAt": "2022-11-10T11:48:04.888Z",
  "updatedAt": "2022-11-10T11:48:04.888Z",
  "Inventory": null
}
     -->
     <%= adminAccess %>

     <nav>
        <a href="#">Currency Exchange</a>
     </nav>

    <table class="table" border="1px">
        <thead>
            <th>ID</th>
            <th>EMAIL</th>
            <th>PASSWORD</th>
            <th>NAME</th>
            <th>ROLE</th>
            <th>BALANCE</th>
            <th>INVENTORY</th>
        </thead>
        <tbody>
                <tr>
                    <td><%= data.id %></td>
                    <td><%= data.email %></td>
                    <td><%= data.password %></td>
                    <td><%= data.name %></td>
                    <td><%= data.role %></td>
                    <td><%= data.balance %></td>
                    <td><%= data.Inventory %></td>
                </tr>
        </tbody>
    </table>
    
    
</body>
</html>