<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('partials/style'); %>
</head>
<body>
    <%- include('partials/navbarin'); %>

    <div class="container">
        <h1><%= greeting %> </h1>

        <table class="border-gray">
            <thead>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>BALANCE</th>
            </thead>
            <tbody>
                    <tr>
                        <td><%= data.name %></td>
                        <td><%= data.email %></td>
                        <td><%= data.balance %></td>
                    </tr>
            </tbody>
        </table>
    
        <h2>Inventory</h2>
        <table class="border-gray">
            <thead>
                <th>USD</th>
                <th>GBP</th>
                <th>EURO</th>
                <th>YEN</th>
                <th>SGD</th>
                <th>CNY</th>
                <th>AUD</th>
                <th>CAD</th>
                <th>CHF</th>
                <th>HKD</th>
            </thead>
            <tbody>
                    <tr>
                        <td><%= data.Inventory.usDollar %></td>
                        <td><%= data.Inventory.britishPoundSterling %></td>
                        <td><%= data.Inventory.euro %></td>
                        <td><%= data.Inventory.japaneseYen %></td>
                        <td><%= data.Inventory.singaporeDollar %></td>
                        <td><%= data.Inventory.chinaRenminbi %></td>
                        <td><%= data.Inventory.australianDollar %></td>
                        <td><%= data.Inventory.canadianDollar %></td>
                        <td><%= data.Inventory.swissFranc %></td>
                        <td><%= data.Inventory.hongkongDollar %></td>
                    </tr>
            </tbody>
        </table>


        <h2>Transactions</h2>
        <table class="border-gray">
            <thead>
            </thead>
            <tbody>
                <tr>
                        <% data.Transactions.forEach(el => { %>
                        <td><%= el.transactionType %></td>
                        <td><%= el.transactionAmount %></td>
                        <td><%= el.createdAt %></td>
                        <% }) %>
                    </tr>
            </tbody>
        </table>
        


    </div>
    
    <%- include('partials/footer'); %>
</body>
</html>