<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <%- include('partials/style'); %>
</head>
<body>
    <%- include('partials/navbar'); %>

    <div class="container">
    <h1>MONEY CHANGER</h1>

    <div class="banner">
        <img class="img-banner" src="https://i.ibb.co/2FmRJhB/banner.jpg" alt="">
    </div>

    <div class="btn-wrap">
        <a class="btn-click" href="/signup">SIGNUP</a>
        <a class="btn-click" href="/signin">SIGNIN</a>
    </div>

    <table class="table border-gray">
        <thead>
            <th>Code</th>
            <th>Price Sell</th>
            <th>Price Buy</th>
            <th>Country</th>
            <th>Img</th>
        </thead>
        <tbody>
            <% data.forEach(el => { %>
                <tr>
                    <td><%= el.code %></td>
                    <td><%= el.valueSell %></td>
                    <td><%= el.valueBuy %></td>
                    <td><%= el.country %></td>
                    <td><img class="img-flag" src="<%= el.imageUrl %>" alt="<%= el.name %>"></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    </div>
</body>
</html>