<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP</title>
    <%- include('partials/style'); %>
</head>
<body>
    <%- include('partials/navbar'); %>
    
    <div class="container">
        <h1>REGISTER</h1>
        <form action="/signup" method="post">
    
            <div class="input-wrap">
                <label for="name">Name : </label><br>
                <input type="text" id="name" name="name" autocomplete="off">
            </div>
    
            <div class="input-wrap">
                <label for="email">Email : </label><br>
                <input type="text" id="email" name="email" autocomplete="off">
            </div>
    
            <div class="input-wrap">
                <label for="password">Password : </label><br>
                <input type="password" id="password" name="password">
            </div>
    
            <div class="input-wrap">
                <label for="email">Role : </label><br>
                <input type="radio" id="user" name="role" value="client" checked>
                <label for="html">User</label><br>
                <input type="radio" id="admin" name="role" value="admin">
                <label for="css">Admin</label><br>
            </div>
    
            <div class="input-wrap">
                <button class="btn-click" type="submit">REGISTER</button>
            </div>
            
        </form>

    </div>

    <!-- <table class="table" border="1px">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Balance</th>
            <th>Admin</th>
        </thead>
        <tbody>
            <% data.forEach(el => { %>
                <tr>
                    <td><%= el.id %></td>
                    <td><%= el.name %></td>
                    <td><%= el.email %></td>
                    <td><%= el.password %></td>
                    <td><%= el.balance %></td>
                    <td><%= el.role %></td>
                </tr>
            <% }) %>
        </tbody>
    </table> -->

</body>
</html>